## Introduction to DataFrames

### Import the Pandas library

### Load the CSV file from this [link](https://raw.githubusercontent.com/Prajwalk09/Data-Analysis-with-Pandas-and-Python/refs/heads/main/DataFrame-1/nba.csv) into a DataFrame and assign it to a variable named `nba`

### Display the first five rows of the `nba` DataFrame

### Display the last five rows of the `nba` DataFrame

### Find and display the total number of rows in the `nba` DataFrame

### Display the dimensions of the `nba` DataFrame

### Display the index of the data types of the columns in the `nba` DataFrame

### Display the summary information of the `nba` DataFrame, including the column names, non-null counts, and data types

### Select and display the columns `'Salary'`, `'Team'`, and `'Name'` from the `nba` DataFrame.

### Add a new column named `'Sport'` to the `nba` DataFrame and assign the value `"Basketball"` to all the rows in that column

### Add a new column named `'League'` to the `nba` DataFrame and assign the value `"National Basketball Association"` to all the rows in that column

### Delete the two newly inserted columns

### Insert a new column named `'Sport'` at the 3rd position in the `nba` DataFrame, with the value `"Basketball"` assigned to all the rows in that column using the `insert()` function