## Broadcasting Operators

### Import the pandas library

In [1]:
import pandas as pd

### Load the CSV file from this [link](https://raw.githubusercontent.com/Prajwalk09/Data-Analysis-with-Pandas-and-Python/refs/heads/main/DataFrame-1/nba.csv) into a DataFrame and assign it to a variable named `nba`

In [2]:
url = 'https://raw.githubusercontent.com/Prajwalk09/Data-Analysis-with-Pandas-and-Python/refs/heads/main/DataFrame-1/nba.csv'
nba = pd.read_csv(url)

### Display the first 5 rows of the DataFrame

In [3]:
nba.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

### Add 5 to the values in the `'Age'` column of the `nba` DataFrame and display the result

In [4]:
nba['Age'] + 5

0      30.0
1      30.0
2      32.0
3      27.0
4      34.0
       ...
453    31.0
454    29.0
455    31.0
456    31.0
457     NaN
Name: Age, Length: 458, dtype: float64

### Create a new column `'Weight in Kilograms'` in the `nba` DataFrame by converting the values in the `'Weight'` column from pounds to kilograms (using the conversion factor 1 kg =  0.45 pound)

In [5]:
nba['Weight in Kilograms'] = nba['Weight'] / 0.45

### Add a new column named `'Salary in Millions'` to the `nba` DataFrame by dividing the values in the `'Salary'` column by 1,000,000

In [6]:
nba['Salary in Millions'] = nba['Salary']/1000000

### Calculate and display the total number of missing values in each column of the `nba` DataFrame

In [8]:
nba.isnull().sum()

Name                    1
Team                    1
Number                  1
Position                1
Age                     1
Height                  1
Weight                  1
College                85
Salary                 12
Weight in Kilograms     1
Salary in Millions     12
dtype: int64

### Remove all rows where all values are missing from the `nba` DataFrame

In [11]:
nba.dropna(how = 'all', axis = 'rows', inplace = True)

### Remove rows from the `nba` DataFrame where either the `'College'` or `'Salary'` column has missing values

In [12]:
nba.dropna(subset = ['College', 'Salary'])

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,Weight in Kilograms,Salary in Millions
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,400.000000,7.730337
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,522.222222,6.796117
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,411.111111,1.148640
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0,522.222222,1.170960
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0,528.888889,2.165160
...,...,...,...,...,...,...,...,...,...,...,...
449,Rodney Hood,Utah Jazz,5.0,SG,23.0,6-8,206.0,Duke,1348440.0,457.777778,1.348440
451,Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0,457.777778,0.981348
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0,520.000000,2.239800
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0,451.111111,2.433333
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0,513.333333,0.947276

### Fill the missing values in the `'Salary'` column of the `nba` DataFrame with 0

In [13]:
nba['Salary'].fillna(value = 0, inplace = True)

### Fill the missing values in the `'College'` column of the `nba` DataFrame with the string `'No College'`

In [15]:
nba['College'].fillna(value = 'No College', inplace = True)

### Display the data types of all columns in the `nba` DataFrame

In [16]:
nba.dtypes

Name                    object
Team                    object
Number                 float64
Position                object
Age                    float64
Height                  object
Weight                 float64
College                 object
Salary                 float64
Weight in Kilograms    float64
Salary in Millions     float64
dtype: object

<p style="color: blue; font-size: 16px; font-weight:bold">Note: The columns `'Number'`, `'Age'`, `'Weight'`, and `'Salary'` are of the `float` data type. You need to convert these columns to `int` type.</p>

### Create a list containing the column names `'Number'`, `'Age'`, `'Weight'`, and `'Salary'`, and convert the values in these columns to the `int` data type. After that, check the data types of all columns in the `nba` DataFrame

In [17]:
integer_columns = ['Number', 'Age', 'Weight', 'Salary']
for column in integer_columns:
    nba[column] = nba[column].astype('int')

In [18]:
nba.dtypes

Name                    object
Team                    object
Number                   int32
Position                object
Age                      int32
Height                  object
Weight                   int32
College                 object
Salary                   int32
Weight in Kilograms    float64
Salary in Millions     float64
dtype: object