## Broadcasting Operators

### Import the pandas library

### Load the CSV file from this [link](https://raw.githubusercontent.com/Prajwalk09/Data-Analysis-with-Pandas-and-Python/refs/heads/main/DataFrame-1/nba.csv) into a DataFrame and assign it to a variable named `nba`

### Display the first 5 rows of the DataFrame

### Add 5 to the values in the `'Age'` column of the `nba` DataFrame and display the result

### Create a new column `'Weight in Kilograms'` in the `nba` DataFrame by converting the values in the `'Weight'` column from pounds to kilograms (using the conversion factor 1 kg =  0.45 pound)

### Add a new column named `'Salary in Millions'` to the `nba` DataFrame by dividing the values in the `'Salary'` column by 1,000,000

### Calculate and display the total number of missing values in each column of the `nba` DataFrame

### Remove all rows where all values are missing from the `nba` DataFrame

### Remove rows from the `nba` DataFrame where either the `'College'` or `'Salary'` column has missing values

### Fill the missing values in the `'Salary'` column of the `nba` DataFrame with 0

### Fill the missing values in the `'College'` column of the `nba` DataFrame with the string `'No College'`

### Display the data types of all columns in the `nba` DataFrame

<p style="color: blue; font-size: 16px; font-weight:bold">Note: The columns `'Number'`, `'Age'`, `'Weight'`, and `'Salary'` are of the `float` data type. You need to convert these columns to `int` type.</p>

### Create a list containing the column names `'Number'`, `'Age'`, `'Weight'`, and `'Salary'`, and convert the values in these columns to the `int` data type. After that, check the data types of all columns in the `nba` DataFrame