## Series in Pandas
In this notebook, we will be trying to understand some important concepts related to series in Pandas and how to perform various operations on them.

### Creating a Series from a Python List

### Import the required libraries

In [1]:
import pandas as pd

### Create a list named <code>ice_cream</code> containing 4 different flavors as strings

In [2]:
ice_cream = ['chocolate', 'vanilla', 'starwberry', 'rum raisin']

### Convert this list into a Series using <code>pd.Series()</code>

In [3]:
pd.Series(data = ice_cream)

0     chocolate
1       vanilla
2    starwberry
3    rum raisin
dtype: object

### Create another list called <code>lottery</code> containing 5 different numbers

In [4]:
lottery = [56,45,98,10,23,87]

### Convert this list into a Series as well

In [5]:
pd.Series(data = lottery)

0    56
1    45
2    98
3    10
4    23
5    87
dtype: int64

### Create a Dictionary having 3 key-value pairs

In [6]:
capitals = {
    "India" : "New Delhi",
    "Russia" : "Moscow",
    "USA" : "Washington"
}

### Convert this dictionary into a Series object

In [7]:
pd.Series(data = capitals)

India      New Delhi
Russia        Moscow
USA       Washington
dtype: object

<hr>

### Attributes and Methods Related to Series

### Create a list called `prices` and assign it the values `[15, 46, 44, 44, 12]`.

In [8]:
prices = [15, 46, 44, 44, 12]

### Create a Series object from the <code>prices</code> list and assign it to a variable of your choice

In [9]:
prices_series = pd.Series(data = prices)
prices_series

0    15
1    46
2    44
3    44
4    12
dtype: int64

### Print the values and the index of the newly created Series object

In [10]:
print(prices_series.index)

RangeIndex(start=0, stop=5, step=1)

In [11]:
print(prices_series.values)

[15 46 44 44 12]

### Display the data type of the Series

In [12]:
prices_series.dtype

dtype('int64')

### Mathematical functions like <code>mean, median, mode, sum</code> etc can be applied on Series with numeric values. Apply these functions to the newly created Series

In [13]:
print(prices_series.sum())

161

In [14]:
print(prices_series.mean())

32.2

In [15]:
print(prices_series.median())

44.0

In [16]:
print(prices_series.mode())

0    44
dtype: int64

### Create two lists:  
1. A list named `fruits` containing the following items: `Apple`, `Orange`, `Banana`, `Kiwi`, and `Lime`.  
2. A list named `weekdays` containing the following items: `Monday`, `Tuesday`, `Wednesday`, `Thursday`, and `Friday`.

In [17]:
fruits = ['Apple', 'Orange', 'Banana', 'Kiwi', 'Lime']
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

### Create a series object using the `fruits` list and set it's index as the `weekdays` list

In [18]:
pd.Series(data = fruits, index = weekdays)

Monday        Apple
Tuesday      Orange
Wednesday    Banana
Thursday       Kiwi
Friday         Lime
dtype: object