## Processing and manipulating text data in Pandas

### Import the pandas library

### Load the CSV file from this [link](https://raw.githubusercontent.com/Prajwalk09/Data-Analysis-with-Pandas-and-Python/refs/heads/main/Working%20with%20Text%20Data/chicago.csv) into a DataFrame and assign it to a variable named `data`

### Display the first 5 rows of the DataFrame

### Display a concise summary of the `data` DataFrame, including the number of entries, column data types, and memory usage

### Important Note:  
When applying string methods to text data in a column, always prefix the column with the `str` keyword.  
For example:  
```python
data['Column_Name'].str.method()
```

### Convert all the values in the `Name` column of the `data` DataFrame to lowercase using an appropriate string method
<span style="color:blue; font-size:14px">Do <span style="color:red; font-weight:bold">not</span> make the changes in place</span>

### Format all the values in the `Name` column of the `data` DataFrame to title case using an appropriate string method
<span style="color:blue; font-size:14px">Do <span style="color:red; font-weight:bold">not</span> make the changes in place</span>

### Compute the length of each string in the `Position Title` column of the `data` DataFrame

### Replace occurrences of `'MGMNT'` with `'MANAGEMENT'` in the `Department` column of the `data` DataFrame

### Display the first 5 rows of the DataFrame once the previous change has been made

### Transform the `'Employee Annual Salary'` column in the `data` DataFrame:
1. Remove the dollar sign (`$`) from its values.  
2. Convert the resulting values to the `float` data type.

### Remove rows from the `data` DataFrame where all the values are missing (NaN).
<span style="color:blue; font-weight:bold; font-size:14px">Make sure that the changes are done inplace</span>

### Convert the text in the `'Position Title'` column to lowercase and extract rows where it contains the word `'water'`

### Filter the rows where the `'Position Title'` starts with the word `'WATER'`

### Filter the rows where the `'Position Title'` ends with the word `'MANAGEMENT'`

### Split the `'Name'` column by commas, get the first part of each name, convert it to title case, and display the count of each unique value

### Split the `'Name'` column into two new columns: `'First Name'` and `'Last Name'`, using a comma as the delimiter

### Display the first 5 rows of the DataFrame after making the previous change