## Series in Pandas
In this notebook, we will be trying to understand some important concepts related to series in Pandas and how to perform various operations on them.

### Creating a Series from a Python List

### Import the required libraries

### Create a list named <code>ice_cream</code> containing 4 different flavors as strings

### Convert this list into a Series using <code>pd.Series()</code>

### Create another list called <code>lottery</code> containing 5 different numbers

### Convert this list into a Series as well

### Create a Dictionary having 3 key-value pairs

### Convert this dictionary into a Series object

### Attributes and Methods Related to Series

### Create a list called `prices` and assign it the values `[15, 46, 44, 44, 12]`.

### Create a Series object from the <code>prices</code> list and assign it to a variable of your choice

### Print the values and the index of the newly created Series object

### Display the data type of the Series

### Mathematical functions like <code>mean, median, mode, sum</code> etc can be applied on Series with numeric values. Apply these functions to the newly created Series

### Create two lists:  
1. A list named `fruits` containing the following items: `Apple`, `Orange`, `Banana`, `Kiwi`, and `Lime`.  
2. A list named `weekdays` containing the following items: `Monday`, `Tuesday`, `Wednesday`, `Thursday`, and `Friday`.

### Create a series object using the `fruits` list and set it's index to the `weekdays` list