### Import the pandas library

### Load the CSV file from this [link](https://raw.githubusercontent.com/Prajwalk09/Data-Analysis-with-Pandas-and-Python/refs/heads/main/DataFrame-3/jamesbond.csv) into a DataFrame and assign it to a variable named `data`

### Display the first 5 rows of the DataFrame

### Set the `'Film'` column as the index of the `data` DataFrame. Next, sort the index and make sure that these changes are reflected in the original DataFrame

### Retrieve the rows from the `data` DataFrame where the index is one of the following:
- `'Die Another Day'`
- `'Casino Royale'`

And display the columns:
- `'Actor'`
- `'Director'`
- `'Box Office'`

### Retrieve the rows from the `data` DataFrame where the index is between `'Casino Royale'` and `'Die Another Day'`, and display the columns from `'Director'` to `'Budget'`

#### Update the value in the `data` DataFrame where the index is `'Dr. No'` and the column is `'Actor'` to `'Sir Sean Connery'`.

After updating, display the entire row for `'Dr. No'`.

### Filter the `data` DataFrame to find rows where the `Actor` is `'Sean Connery'` and update the `Actor` value to `'Sir Sean Connery'`.

After updating, display all rows where the `Actor` is `'Sir Sean Connery'`.

### Rename the columns in the `data` DataFrame:
- Change `"Year"` to `"Release Date"`
- Change `"Box Office"` to `"Revenue"`

### Rename the indices in the `data` DataFrame:
- Change `"GoldenEye"` to `'Golden Eye'`
- Change `'The World Is Not Enough'` to `'Best Bond Movie'`

### Drop the rows from the `data` DataFrame where the index is either `'A View to a Kill'` or `'Casino Royale'` along the horizontal axis. 
<span style = "color:red; font-weight:bold; font-size:14px">Do not make the changes inplace</span>

### Drop the columns from the `data` DataFrame:
- `'Revenue'`
- `'Bond Actor Salary'`
- `'Actor'` <br>
<span style = "color:red; font-weight:bold; font-size:14px">Do not make the changes inplace</span>

### Use an <span style="color:blue">inbuilt</span> function to randomly select 5 rows from the `data` DataFrame

### Use an <span style="color:blue">inbuilt</span> function to randomly select 5 columns from the `data` DataFrame

### Use an <span style="color:blue">inbuilt</span> function to get the top 5 rows with the highest values in the `'Revenue'` column from the `data` DataFrame

### Use an <span style="color:blue">inbuilt</span> function to get the top 5 rows with the lowest values in the `'Revenue'` column from the `data` DataFrame

### Understanding the `query()` Method in Pandas

The `query()` method in Pandas allows you to filter rows of a DataFrame using a query string. It provides a more readable and concise alternative to traditional boolean indexing.  

#### Key Points:  
- Column names used in the query must **<span style="color:red">not</span> contain spaces**.  
- The query is passed as a string and is evaluated against the DataFrame.  
- Logical operators such as `and`, `or`, and `not` are used instead of `&`, `|`, and `~`.  

#### Example:
```python
data.query("Box_Office > 500 and Actor == 'Sean Connery'")
```

### Rename Columns in the DataFrame  

Use the `rename()` method to change the column names:  
- `"Bond Actor Salary"` to `"Bond_Actor_Salary"`  

Ensure that the changes are made inplace

### Filter and display rows where the value in the `"Actor"` column is `"Sir Sean Connery"`

### Filter rows where the `"Actor"` is `"Sir Sean Connery"` and the `"Director"` is `"Guy Hamilton"`

### Filter rows where the `"Actor"` is neither `"Timothy Dalton"` nor `"George Lazenby"`