## Handling date and time data, including parsing and time-based indexing

### Import the pandas library and datetime module. Make sure to use aliases in both the cases

### Create a date object for April 12, 2016, using the `datetime` module. Store the resulting date object in a variable called `someday`

### Display the `year`, `month` and `day` from the `someday` variable

2016

4

16

### Create a Timestamp object for the date March 31, 2015, using pandas

Timestamp('2015-03-31 00:00:00')

### Write code to create a `Timestamp` object representing January 9, 2021, at 8:35:04 PM.

Timestamp('2021-01-09 20:35:04')

### Create a `DatetimeIndex` from a list of date objects

- Write code to create a list of date objects representing specific dates: January 1, 2016; June 13, 1994; and January 12, 2020.
- Store the resulting index in the variable `dateIndex`.

### Create a pandas Series with `DatetimeIndex` as the index

- Write code to create a list of numerical values: `100`, `200`, and `400`. Store the result in a variable called `values`
- The resulting Series will map each value to a corresponding date. <br>
<span style="color:green; font-weight:bold">Hint: Check the "solutions" notbeook to better understand the question</span>

2016-01-01    100
1994-06-13    200
2020-01-12    400
dtype: int64

### Convert a string representation of date and time into a pandas `Timestamp` object

- Write code to convert the string `'2001-04-19 8:34 PM'` into a pandas `Timestamp` object.

Timestamp('2001-04-19 20:34:00')

### Convert a list of date strings into pandas `DatetimeIndex` objects

- Write code to convert a list of date strings (`'2001-01-09'`, `'2004/01/12'`, `'2005'`, and `'July 4th 1996'`) into pandas `Timestamp` objects.

DatetimeIndex(['2001-01-09', '2004-01-12', '2005-01-01', '1996-07-04'], dtype='datetime64[ns]', freq=None)

### Generate a range of dates by following the below criteria:

- Write code to generate a range of dates starting from January 1, 2016, to January 10, 2016, with a frequency of one day.
- Store the resulting `DatetimeIndex` in a variable called `times`.

### Generate a range of 10 consecutive dates starting from January 1, 2001, with a daily frequency

DatetimeIndex(['2001-01-01', '2001-01-02', '2001-01-03', '2001-01-04',
               '2001-01-05', '2001-01-06', '2001-01-07', '2001-01-08',
               '2001-01-09', '2001-01-10'],
              dtype='datetime64[ns]', freq='D')

### Generate a range of dates from January 1, 2016, to January 10, 2016, including only business days

DatetimeIndex(['2016-01-01', '2016-01-04', '2016-01-05', '2016-01-06',
               '2016-01-07', '2016-01-08'],
              dtype='datetime64[ns]', freq='B')

### Generate a range of dates and times from January 1, 2016, to January 10, 2016, with intervals of 6 hours

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 06:00:00',
               '2016-01-01 12:00:00', '2016-01-01 18:00:00',
               '2016-01-02 00:00:00', '2016-01-02 06:00:00',
               '2016-01-02 12:00:00', '2016-01-02 18:00:00',
               '2016-01-03 00:00:00', '2016-01-03 06:00:00',
               '2016-01-03 12:00:00', '2016-01-03 18:00:00',
               '2016-01-04 00:00:00', '2016-01-04 06:00:00',
               '2016-01-04 12:00:00', '2016-01-04 18:00:00',
               '2016-01-05 00:00:00', '2016-01-05 06:00:00',
               '2016-01-05 12:00:00', '2016-01-05 18:00:00',
               '2016-01-06 00:00:00', '2016-01-06 06:00:00',
               '2016-01-06 12:00:00', '2016-01-06 18:00:00',
               '2016-01-07 00:00:00', '2016-01-07 06:00:00',
               '2016-01-07 12:00:00', '2016-01-07 18:00:00',
               '2016-01-08 00:00:00', '2016-01-08 06:00:00',
               '2016-01-08 12:00:00', '2016-01-08 18:00:00',
               '2016-01-09 00:00:00', '2016-01-09 06:00:00',
               '2016-01-09 12:00:00', '2016-01-09 18:00:00',
               '2016-01-10 00:00:00'],
              dtype='datetime64[ns]', freq='6H')