### Import the pandas library

### Load the csv file from this [link](https://raw.githubusercontent.com/Prajwalk09/Data-Analysis-with-Pandas-and-Python/refs/heads/main/DataFrame-2/employees.csv) called `data` and parse the columns `'Start Date'` and `'Last Login Time'` as datetime objects during the import

### Display the first 5 rows of the DataFrame

### Filter and display rows from the `data` DataFrame where the value in the `'Gender'` column is `'Male'` and the value in the `'Team'` column is `'Marketing'`

### Define two conditions: 
1. `first_condition` checks if the `'Gender'` column is `'Male'`.
2. `second_condition` checks if the `'Team'` column is `'Marketing'`.

Then, filter and display rows from the `data` DataFrame where <span style="color:blue; font-weight:bold">both</span> conditions are <span style="color:green; font-weight:bold">TRUE</span>

### Define two conditions:
1. `management_condition` checks if the `'Senior Management'` column is `True`.
2. `start_date_condition` checks if the `'Start Date'` column is earlier than or equal to `'1990-01-01'`.

Then, filter and display rows from the `data` DataFrame where <span style="color:blue; font-weight:bold">either</span> condition is <span style="color:green; font-weight:bold">TRUE</span>

### Filter and display rows from the `data` DataFrame where:
1. The value in the `'First Name'` column is `'Robert'` and the value in the `'Team'` column is `'Client Services'`.
2. OR, the value in the `'Start Date'` column is later than or equal to `'2016-06-01'`.

### Filter and display rows from the `data` DataFrame where the value in the `'Team'` column is either `'Legal'`, `'Sales'`, or `'Product'` using boolean conditions

### Disadvantage of Using Multiple Boolean Conditions

Using multiple conditions like:

```python
data[(data['Team'] == 'Legal') | (data['Team'] == 'Sales') | (data['Team'] == 'Product')]
```
can lead to cluttered syntax and reduced readability. As conditions increase, the expression becomes harder to manage and maintain. It also may result in inefficient evaluations.

A cleaner and more efficient alternative is using the `isin()` method.

### Filter and display rows from the `data` DataFrame where the value in the `'Team'` column is either `'Legal'`, `'Sales'`, or `'Product'` without using multiple boolean conditions

### Filter and display rows from the `data` DataFrame where the value in the `'Team'` column is `null`

### Filter and display rows from the `data` DataFrame where the value in the `'Gender'` column is not `null`

### Filter and display rows from the `data` DataFrame where the value in the `'Salary'` column is between 60,000 and 70,000 (inclusive)

### Filter and display rows from the `data` DataFrame where the value in the `'Salary'` column is between 60,000 and 70,000 (inclusive) using the `between()` method.

### Sort the `data` DataFrame by the `'First Name'` column in ascending order and update the DataFrame in place

### Remove duplicate rows from the `data` DataFrame based on the `'First Name'` column, keeping only the first occurrence of each unique value. (Do not make these changes inplace)

### Remove duplicate rows from the `data` DataFrame based on the `'First Name'` column, keeping only the last occurrence of each unique value. (Do not make these changes inplace)