### Reading Files in Pandas

### Import the necessary libraries

In [1]:
import pandas as pd

### Load the csv file from this <a href = "https://raw.githubusercontent.com/Prajwalk09/Data-Analysis-with-Pandas-and-Python/refs/heads/main/Series/google_stock_price.csv">link</a> into a variable called `stock_data` as a Series

In [2]:
stock_data = pd.read_csv('https://raw.githubusercontent.com/Prajwalk09/Data-Analysis-with-Pandas-and-Python/refs/heads/main/Series/google_stock_price.csv').squeeze()

### Load another csv file from this <a href= "https://raw.githubusercontent.com/Prajwalk09/Data-Analysis-with-Pandas-and-Python/refs/heads/main/Series/pokemon.csv">link</a> into a varaible called `pokemon_data`. Use only the *Pokemon* column and store the result as a Series

In [3]:
pokemon_data = pd.read_csv('https://raw.githubusercontent.com/Prajwalk09/Data-Analysis-with-Pandas-and-Python/refs/heads/main/Series/pokemon.csv', usecols = ['Pokemon']).squeeze()

### Display the first 5 rows from both the variables

In [4]:
stock_data.head()

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
Name: Stock Price, dtype: float64

In [5]:
pokemon_data.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

### Display the length of the `pokemon_data` variable

In [6]:
len(pokemon_data)

721

### Use the `min()` and `max()` functions on `stock_data` and `pokemon_data`

<span style="font-size:14px; color:blue;">What conclusions can you make about the behavior of `min()` and `max()` when applied to non-numeric data?</span>

In [7]:
min(stock_data)

49.95

In [8]:
max(stock_data)

782.22

In [9]:
min(pokemon_data)

'Abomasnow'

In [10]:
max(pokemon_data)

'Zygarde'

### Sort the values in the `pokemon_data` in ascending order and the values in `stock_data` in descending order

In [11]:
pokemon_data.sort_values(ascending = True)

459    Abomasnow
62          Abra
358        Absol
616     Accelgor
680    Aegislash
         ...
570      Zoroark
569        Zorua
40         Zubat
633     Zweilous
717      Zygarde
Name: Pokemon, Length: 721, dtype: object

In [12]:
stock_data.sort_values(ascending = False)

3011    782.22
2859    776.60
3009    773.18
3007    772.88
3010    771.61
         ...
12       50.74
10       50.70
0        50.12
9        50.07
11       49.95
Name: Stock Price, Length: 3012, dtype: float64

### Extract the 5th value from the `pokemon_data` Series

In [13]:
pokemon_data[5]

'Charizard'

### Extract the 10th, 15th and 20th value from the `pokemon_data` Series

In [14]:
pokemon_data[[10,15,20]]

10    Metapod
15     Pidgey
20    Spearow
Name: Pokemon, dtype: object

### Extract all the values between the 10th and 20th index in the `pokemon_data` Series

In [15]:
pokemon_data[10:20]

10       Metapod
11    Butterfree
12        Weedle
13        Kakuna
14      Beedrill
15        Pidgey
16     Pidgeotto
17       Pidgeot
18       Rattata
19      Raticate
Name: Pokemon, dtype: object